.logo{
    height:3.5rem;
    padding-left: 3rem;
}

.search{
    flex: 0 0 30%;
    display: flex;
    justify-content:center;
    align-items:center;
}

.search__input{
    font-family: inherit;
    font-size: inherit;
    color:inherit;
    background-color: rgb(238, 238, 238);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10px;
    width:60%;
    transition: all .4s;
    margin-right: -3rem;
}

.search__input:focus{
    width:70%;
    outline: 1px solid var( --colour-primary);
}

.search__button{
    border:none;
    cursor:pointer;
    color:var(--colour-grey-dark-3);
}

.search__button:active{
    transform: translateY(2px);
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5rem;
}

.nav__list{
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.nav__list--item{
    /* display: inline-block; */
    padding-right: 10px;
}

.nav__list--item--link{
    color: #fff;
    font-size:medium;
    text-decoration: none;
}

.nav__link--active{
    color: black;
}

#hamburger--box{
  display: none;
}

#nav__list{
  list-style-type: none;
  overflow: hidden;
  display: none;
}



.login{
  flex: 0 0 10%;
  width: 20%;
}

.login--link{
  text-decoration: none;
  color: white;
  font-size: medium;
  background-color: var(--colour-primary-dark);
  border-radius: 5px;
  padding: 1rem;
}


/* .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */

  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* min-width: 160px; */
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #00abbc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: medium;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .banner {
    background-color: #333;
    color:white;
    font-size: small;
    max-width: 100%;
    height: 3rem;	
    overflow: hidden;
   
  }

   .banner--text {
    margin-top: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: scroll-left 30s 0s linear infinite;
   }

   /* Move it (define the animation) */
   @keyframes scroll-left {
    from  {
    transform: translateX(100%); 		
    }
    
    to {
    transform: translateX(-100%); 
    }
   }

   .banner--text:hover{
    animation-play-state: paused;
   }

   .banner--link{
    color: red;
    font-weight: bold;
    text-decoration: none;
    font-size: small;
  }

  
 
/*links for css social media */
  .social {
    position: fixed;
    top: 250px;
  }
  .social ul {
    padding: 0px;
    transform: translate(-270px, 0);
  }
  .social ul li {
    display: block;
    margin: 5px;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1s;
  }
  .social ul li:hover {
    transform: translate(110px, 0);
    background: rgba(255, 255, 255, 0.4);
  }
  .social ul li:hover a {
    color: #000;
  }
  .social ul li:hover i {
    color: #fff;
    background: rgba(0, 0, 0, 0.36);
    transform: rotate(360deg);
    transition: all 1s;
  }
  .social ul li i {
    margin-left: 10px;
    color: rgb(39, 176, 186);
    background: #fff;
    padding: 18px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 30px;
    background: #ffffff;
    transform: rotate(0deg);
  }


  .social a{
   
      color: #fff;
      text-decoration: none;
    
  }



.footer--logo{
  height: 3.5rem;
}

.footer--middletext--box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.footer--middletext{
  border:1px solid white;
  color: var(--colour-primary-dark);
  background-color: var(--colour-grey-light);

}
.footer--middletext a{
  text-decoration: none;
  color:  var(--colour-primary-dark);
}


.newsletter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
  
  .newsletter__input{
    display: inline-block;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10px;
    width:90%;
    margin-right: -3rem;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .4);
  }
  
  .newsletter__button{
    border:none;
    cursor:pointer;
    color:white;
    background-color: var(--colour-primary-light);
    font-size: medium;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .3);
    border-radius: 2px;
    padding: 3px 10px;
  }


.copyright__p{
  text-align: center;
  background-color: var( --colour-primary);
  color:white;
}

.info--slide{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info--slides{
  flex: 1;
}

.date--countdown--box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}


.date--countdown--box:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  color:white;
  transition:1s;
}


#date{
  border: 1px solid black;
  padding: 1rem;
  font-size: large;

}

#date:hover{
  background-color: #00abbc;
  border: 1px solid var(--colour-footer);
}

.content--box{
  font-weight: bold;
  font-size: medium;
  text-align: center;
  border: 1px solid  var( --colour-grey-dark);
  background-color: var( --colour-grey-light);
  padding: 3%;
} 

.publicationpartners{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45rem;
}

.publicationpartners--image
{
  flex: 0 0 10%;
  margin-left: 5rem;
}

.publicationpartners--content
{
  flex: 1;
  font-size: x-large;
  font-weight: bolder;
  margin-left: 5rem;
  margin-right: 5rem;
  /* background-color: black; */
}


.specialsession{
  text-align: center;
  background-color: var( --colour-primary);
  color:white;
 
}

.specialsession--link{
  text-decoration: none;
  color:rgb(214, 214, 214);
}

.keynote{
  padding: 2rem;
}

.keynote--box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.keynote--img{
  height: 15rem;
}


.speaker{
  text-align: center;
}


.icon--home{
text-align: center;
font-size: large;

}

.icon--home:hover{
  text-align: center;
  font-size: x-large;
  
  }

  /*Journal support*/

  .journal--support--box{
    text-align: center;
  }

  .journal--support--title{
    padding: 2rem;
  }

  .journal--text{
    padding: 2rem;
  }

  .journal--box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
  }
  
  .journal--image--box{
    flex: 0 0 20%;
  }

  .journal--image {
    opacity: 1;
    /* display: block; */
    width: 200px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .journal--image--box:hover .journal--image{
    opacity: 0.3;
  }

  .journal--image--box:hover .journal--image--middle{
    opacity: 1;
  }

  .journal--image--middle {
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .journal--name {
    background-color: var(--colour-primary-light);
    color: white;
    font-size: 16px;
    width:120px;
    /* padding: 1rem; */
    margin-left: 70px;
    border-radius: 5px;
  }
  
  .journal--name:hover {
    background-color: var(--colour-footer);
  }

  .journal__link{
    text-decoration: none;
    color:white;
  }

/*Register page css*/

.register--title{
  color: white;
  font-size: xx-large;
}

.background--image--register{
  background-image: url("../images/register.jpg");
  max-width: 100%;
  height: 100%;  
}

.register--box{
  text-align: center;
  background-color: white;
  border-radius: 10px;
  width: 45rem;
  height: 45rem;
  margin: auto;
  padding: 2.5rem;
  cursor: pointer;
  opacity: 0.8;
}


.register__form{
  font-size: 1.7rem;
}

.register__form--uname{
  font-family: inherit;
  font-size: inherit;
  color:inherit;
}

.register__form--psw{ 
  font-family: inherit;
  font-size: inherit;
  color:inherit;
}

.register__form--submit{
  background-color: var( --colour-primary-light);
  color: white;
  margin: 8px 0;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  padding:8px;
  font-size: medium;

}

.register__form--submit:hover{
  opacity: 0.6;
}

.register__form--cancel{
  background-color: var( --colour-grey-dark);
  color: white;
  margin: 8px 0;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  padding:7px;
  text-decoration: none;
  color:white;
}


.register__form--cancel:hover{
  opacity: 0.6;
}




/*Login page css*/

.login--title{
  color: white;
  font-size: xx-large;
}

.background--image--login{
  background-image: url("../images/login.jpg");
}



.login--box{
  text-align: center;
  background-color: white;
  border-radius: 10px;
  width: 45rem;
  height: 35rem;
  margin: auto;
  padding: 2.5rem;
  cursor: pointer;
  opacity: 0.8;
}



.login__form{
  font-size: 1.7rem;
}

.login__form--uname{
  font-family: inherit;
  font-size: inherit;
  color:inherit;
}

.login__form--psw{ 
  font-family: inherit;
  font-size: inherit;
  color:inherit;
}

.login__form--submit{
  background-color: var( --colour-primary-light);
  color: white;
  margin: 8px 0;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  padding:8px;
  font-size: medium;

}

.login__form--submit:hover{
  opacity: 0.6;
}

.login__form--cancel{
  background-color: var( --colour-grey-dark);
  color: white;
  margin: 8px 0;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  padding:7px;
  text-decoration: none;
  color:white;
}


.login__form--cancel:hover{
  opacity: 0.6;
}


  
/*Keynotes page css*/
.plenary{
  height:20rem;
   
}



@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}






.keynote--title{
  font-family: 'Courgette', cursive;
	 background-color: #000;
	 background-image: radial-gradient(circle, #012, #000 15em);
	 color: #fff;
	 min-height: 25vh;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 perspective: 75em;
	 perspective-origin: 50% calc(50% - 5em);
	 transform-style: preserve-3d;
}




 .platform {
	 position: relative;
	 transform-style: preserve-3d;
	 animation: platform 8s infinite ease-in-out;
}
 @keyframes platform {
	 0%, 100% {
		 transform: translateY(-0.5em);
	}
	 50% {
		 transform: translateY(0.5em);
	}
}
 .plate {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 border-radius: 50%;
	 transform-style: preserve-3d;
}
 .plate:nth-child(1) {
	 width: 16em;
	 height: 16em;
	 background-image: radial-gradient(#444, #111);
	 transform: translate(-50%, -50%) rotateX(90deg) translateZ(2em);
}
 .plate:nth-child(2) {
	 width: 14em;
	 height: 14em;
	 background-image: radial-gradient(#000, #222);
	 transform: translate(-50%, -50%) rotateX(90deg) translateZ(-2em);
}
 .plate::before {
	 content: '';
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 100%;
	 height: 0.5em;
	 background-image: linear-gradient(90deg, #222, #333, #111, #222);
	 transform: translateX(-50%) rotateX(-90deg) translateZ(0.5em);
	 transform-origin: top;
}
 .plate::after {
	 content: '';
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 100%;
	 height: 100%;
	 background-image: linear-gradient(90deg, #222, #333, #111, #222);
	 border-radius: 50%;
	 transform: translate(-50%, -50%) translateZ(-0.5em);
}
 .panel {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 3em;
	 height: 3em;
	 clip-path: polygon(0 0, 100% 0, 93.25% 100%, 6.75% 100%);
	 background-color: #000 5;
	 overflow: hidden;
	 animation: panalRotate 60s infinite linear;
}
 @keyframes panalRotate {
	 0%, 100% {
		 opacity: 1;
	}
	 50% {
		 opacity: 0;
	}
	 from {
		 transform: translate(-50%, calc(-50% + 0.25em)) rotateY(0) translateZ(7em) rotateX(-15deg);
	}
	 to {
		 transform: translate(-50%, calc(-50% + 0.25em)) rotateY(360deg) translateZ(7em) rotateX(-15deg);
	}
}
 .panel:nth-child(1) {
	 animation-delay: 0s;
}
 .panel:nth-child(1)::after {
	 animation-delay: 0s;
}
 .panel:nth-child(2) {
	 animation-delay: -3.75s;
}
 .panel:nth-child(2)::after {
	 animation-delay: -1.25s;
}
 .panel:nth-child(3) {
	 animation-delay: -7.5s;
}
 .panel:nth-child(3)::after {
	 animation-delay: -2.5s;
}
 .panel:nth-child(4) {
	 animation-delay: -11.25s;
}
 .panel:nth-child(4)::after {
	 animation-delay: -3.75s;
}
 .panel:nth-child(5) {
	 animation-delay: -15s;
}
 .panel:nth-child(5)::after {
	 animation-delay: -5s;
}
 .panel:nth-child(6) {
	 animation-delay: -18.75s;
}
 .panel:nth-child(6)::after {
	 animation-delay: -6.25s;
}
 .panel:nth-child(7) {
	 animation-delay: -22.5s;
}
 .panel:nth-child(7)::after {
	 animation-delay: -7.5s;
}
 .panel:nth-child(8) {
	 animation-delay: -26.25s;
}
 .panel:nth-child(8)::after {
	 animation-delay: -8.75s;
}
 .panel:nth-child(9) {
	 animation-delay: -30s;
}
 .panel:nth-child(9)::after {
	 animation-delay: -10s;
}
 .panel:nth-child(10) {
	 animation-delay: -33.75s;
}
 .panel:nth-child(10)::after {
	 animation-delay: -11.25s;
}
 .panel:nth-child(11) {
	 animation-delay: -37.5s;
}
 .panel:nth-child(11)::after {
	 animation-delay: -12.5s;
}
 .panel:nth-child(12) {
	 animation-delay: -41.25s;
}
 .panel:nth-child(12)::after {
	 animation-delay: -13.75s;
}
 .panel:nth-child(13) {
	 animation-delay: -45s;
}
 .panel:nth-child(13)::after {
	 animation-delay: -15s;
}
 .panel:nth-child(14) {
	 animation-delay: -48.75s;
}
 .panel:nth-child(14)::after {
	 animation-delay: -16.25s;
}
 .panel:nth-child(15) {
	 animation-delay: -52.5s;
}
 .panel:nth-child(15)::after {
	 animation-delay: -17.5s;
}
 .panel:nth-child(16) {
	 animation-delay: -56.25s;
}
 .panel:nth-child(16)::after {
	 animation-delay: -18.75s;
}
 .panel::after {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 content: "Building Hyper-Connected Networks,theFuture";
	 font-weight: 600;
	 font-size: 2em;
	 white-space: nowrap;
	 color: #000 9;
	 text-shadow: 0 0 5px #0af, 0 0 15px #0af, 0 0 30px #0af;
	 animation: textMove 20s infinite linear;
}
 @keyframes textMove {
	 from {
		 transform: translate(2rem, -50%);
	}
	 to {
		 transform: translate(-42.64rem, -50%);
	}
}
 

/*content for plenary keynote speaker*/

.content--keynote h2{
  /* background: -webkit-linear-gradient(var(--colour-primary-dark), var( --colour-primary)); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  color:black;
  font-size: xx-large;
  animation-name: mymove;
  animation-duration: 5s;
  text-align: center;

}

.content--keynote img{
 
    /* transition: transform .7s ease-in-out; */
        width: 200px;
        height: 200px;
        border-radius: 30%;
        animation: animate 3s linear infinite;
        perspective: 900px;


}

@keyframes animate {
  0%{
     transform: rotateY(0deg);
  }
  100%{
      transform: rotateY(360deg);
  }
}

.keynote--speaker{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.keynote--image{
  flex: 0 0 15%;
  margin-left: 5rem;
}

.keynote--text{
  flex: 1;
  margin-left: 10rem;
  margin-right: 10rem;
  border: 1px solid rgb(190, 190, 190);
  padding: 3rem;
}


#myBtn{
  background-color: var(--colour-primary);
  color:#f9f9f9;
  padding:0.35rem;
  text-decoration: none;
  border:none;
  font-size: 1rem;
}

#myBtn:hover{
  background-color: var( --colour-primary-dark);
}




.keynote--text a{
  background-color: var(--colour-primary);
  color:#f9f9f9;
  padding:0.5rem;
  text-decoration: none;
  font-size: 1rem;
}
.keynote--text a:hover{
background-color: var( --colour-primary-dark);
}

#more {display: none;}



/*Registration page css*/


.registration--detail--box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: black; */
}

.registration--image{
  /* height: 25rem; */
  flex: 0 0 20%;
}

.registration--text--box{
  flex: 1;
  text-align: left;
  padding: 5rem;
  /* background-color: black; */
}


.registration--title{
  font-size: 4rem;
  text-decoration:underline;
}
.registration--text{
  margin:auto;
  
}
.content--registration--text{
  font-size: 1.75rem;
}




.registration--table--box{
  padding: 1rem;
  margin-top: 5rem;
  margin-left: 5rem;
  /* background-color: black; */
}

.registration--table{
  text-align: center;
  width:90%;
  border-collapse: collapse;
  border: 1px solid black;
  font-size:2rem;
  margin-left: 3%;
}

.registration--table td, .registration--table th {
  border: 1px solid;
}

.registration--fee p{
  color: var(  --colour-primary);
  font-size:2.7rem;
  font-weight: bold;
  text-align: center;
}

.registration--fee h3{
  color: var( --colour-primary-dark);
  font-size:2rem;

}

.registration--fee h2{
  color: var( --colour-grey-dark);
  font-size:1.5rem;

}


.author--registration--foreigner h3{
  color: var( --colour-primary-dark);
  font-size:2rem;

}

.author--registration--foreigner h2{
  color: var( --colour-grey-dark);
  font-size:1.5rem;


}
.author--registration--indian{
  text-decoration: underline;
}

.author--registration--foreigner p{
  text-decoration: underline;
  color: var(  --colour-primary);
  font-size:2.7rem;
  font-weight: bold;
  text-align: center;
}



.columns--registration {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.price--registration {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price--registration:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price--registration .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price--registration li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.price--registration .grey {
  background-color: #eee;
  font-size: 20px;
}

.button--registration {
  background-color: var( --colour-primary-light);
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.button--registration:hover{
  background-color: var(   --colour-primary-dark);
}

.seperator--registration.hr{
  border-top: 8px solid #bbb;
  border-radius: 5px;
  
 
}
.registration--fee-mode h1{
color:var(--colour-primary-dark);
font-size: 3rem;

}

.registration--fee-mode li{
  color:var(--colour-grey-dark);
  font-size: 2rem;
  
  }

  .registration--bankdetails--table{
    text-align: left;
    width:90%;
    border-collapse: collapse;
    border: 1px solid black;
    font-size:2rem;
    margin-left: 3%;
  }
  
  .registration--bankdetails--table td, .registration--bankdetails--table th {
    border: 1px solid;
  }
  
  .registration--bankdetails--table-info {
    background-color: var(--colour-primary-dark);
    color: var(--colour-grey-light);
  }



/* CONTACT PAGE */
.contact--title{
  padding: 1rem;
}

.contact--icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(227, 244, 255);
  padding:1rem;
}

.icon--box{
  flex: 1;
  color:rgb(74, 204, 248);
  text-align: center;
  
}

.icon--box:hover{
  font-size: 1.2rem;
  transition: all .5s ease-in-out;
}

.icon--box p{
  color:rgb(52, 52, 52);
  font-size: small;
  text-align: center;
  font-weight: bold;
}


.form--contact{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
}


.form--image{
  flex:0 0 30%;

}

.form__textarea{
  width:20rem;
  height:10rem;
}

.content--contact{
background-color: rgb(249, 249, 249);

}

.content--contact h1{
  text-align: center;
  color:rgb(22, 131, 145);
}


.form--contact--input{
  border: none;
  border-bottom: 1px solid black;
  padding: 0.6rem;
}

.form--contact--input:focus{
  outline: none;
  border-bottom: 2px solid rgb(0, 143, 175);
  background-color: rgb(224, 254, 255);
}


.form--contact--button{

  width:100%;
  background-color: rgb(0, 83, 94);
  border:none;
  color:white;
  border-radius:4px;
  padding:10px;
  font-size:25px;

}
.form--contact--button:hover{
  background-color: rgb(0, 94, 47);
  color:rgb(145, 227, 145);
}


/* Accomodation PAGE */

.accomodation--box{
  padding:50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.accomo--title{
  text-align: center;
  font-size: 40px;
  color:rgb(11, 124, 156);
  font-weight: bold;
}

.accomo--subtitle{
  text-align: center;
  font-size: 25px;
  color:rgb(74, 74, 74);

}

.hotel--box{
  text-align: center;
}

.hotel--box-text{
  background-color: var(--colour-grey-light);
  text-align: center;
  width:27rem;
  height:5rem;
  margin: auto;
  font-weight: bold;
  font-size: 1.2rem;
  color:var(--colour-dark);
  padding:5px;
}

.hotel--link-map{
  text-align: center;
  border:1px solid black;
  background-color: white;
  padding:0.9rem;
  width: 25rem;
  margin: auto;
  margin-top: 3%;
  font-size: larger;
  font-weight: bold;

}

.hotel--a{
  text-decoration: none;
  color:var(--colour-primary-light);
  text-align: none;
}

.hotel--a:hover{
  color: white;
}

.hotel--link-map:hover{
  background-color: black;

}


/*VENUE PAGE*/

.venue--image{
  max-width: 100%;
}


.button--venue{
font-weight: 0;
font-size: 14px;
color: #fff;
background-color:var( --colour-footer);
padding: 10px 30px;
border: 2px solid var( --colour-footer);
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
align-items: center;
cursor: pointer;
}

.button--venue:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #fff;
color: var( --colour-footer);
border: solid 1px var( --colour-footer);
}

.button--venue a{
text-decoration: none;
color:white;
}

.button--venue a:hover{
  text-decoration: none;
  color:var(--colour-footer);
  }
  


.divider{
  width: 90%;
	height: 2px;
  margin-left: 60px;
	transform: skew(20deg);
	background-color: var(--colour-grey-light);
}

.conferencevenue--venue{
  text-align: center;
}

.conferencevenue--venue h1{
  font-weight:bold;
  color:var(--colour-primary);
  font-size:xx-large;
}

.conferencevenue--venue h2{
  font-weight:bold;
  color:var(--colour-footer);
  font-size:x-large;
}


.conferencevenue--venue p{
font-size:1.7rem;
text-align: left;
padding:4%;

}


.conferencevenue--venue span{
color:rgb(190, 0, 0);
  
  }


  /*SIGHSEEING PAGE CSS*/

  .sightseeing--title{
    text-align: center;
  }

  .sightseeing--title h1{
    font-size: 4rem;
  }

  .sightseeing--title h3{
    font-size: 2rem;
  }

  .sightseeing--box{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 60rem;
  }

  .sightseeing--card{ 
    /* flex-grow: 1; */
    flex: 20%;
    box-shadow: 10px -10px 5px #CCC;
    border-radius: 10px;
    height:55rem;
    /* width:1rem; */
    text-align: center;
   }

   .sightseeing--card h1{
    padding:3px;
    font-size: 2rem;
    color:var(--colour-footer);
   }

   
   .sightseeing--card h3{
    padding:3px;
    font-size: larger;
    color:var(--colour-grey-dark);
   }

   .sightseeing--images{
    border-radius: 10px 10px 0px 0px;
   }

  .sightseeing__links{
    text-decoration: none;
    background-color:var(--colour-primary);
    color:white;
    padding: 7px;
    font-size: 2rem;
    border-radius: 10px;

  }

  .sightseeing__links:hover{
    background-color: var(--colour-primary-dark);
  }


/*TRAVEL PAGE CSS*/

.content--travel h1{
color:var(--colour-footer);
font-size: 3rem;
text-align: center;

}


.content--travel h2{
  color:var(--colour-primary-dark);
  font-size: 2rem;
  text-align: center;
  background-color: var(--colour-grey-light);

  }

  .content--travel p{
    color:var(--colour-grey-dark);
    font-size: 2rem;
    text-align: center;
    padding:30px;
    }

    .content--travel {
      color:rgb(42, 42, 42);
      font-size: 1.5rem;
      text-align: center;
   
      }
      .content--travel span {
        color:red;
        font-size: 2rem;
        text-align: center;
       
        font-weight: bolder;
        }

       .travel--image{
          padding:0px;
       }

      .content--travel ol {
        color:rgb(42, 42, 42);
        font-size: 1.5rem;
       text-align: left;
       padding:30px;
      
        }
  
      .travel-title {
        font-size: x-large;
        color: var(--colour-grey-dark-3);
        text-align: center;
        padding:30px;
      }









/* RESPONSIVENESS */
@media(max-width: 1000px){
  /* INDEX */
  .nav{
    flex-direction: column;
    margin: 1rem auto;
  }

  .nav__list{
    display: none;
  }

  #nav__list{
      /* background-color:  var(--colour-primary); */
      text-align: center;
      width: 200px;
      padding: 1rem;
  }

  #hamburger--box{
      display: block;
      text-align: center;
  }

  .search{
    margin: 0;
    /* margin-bottom: 2rem; */
  }

  .search__input{
    margin: auto;
  }

  .search__button{
    background-color: var(--colour-primary);
    margin: 0;
  }

  .login{
    margin-top: 2rem;
  }

  .login--link{
    margin-top: 1rem;
  }

 
  .footer--middletext--box{
    margin: 0;
    padding: auto;
  }

  .newsletter{
    flex-direction: column;
  }

  .login--box{
    width: 100%;
  }


  .register--box{
    width: 100%;
    height: 55rem;
  }

  .icon--home{
    margin: auto;
  }


  /* KEYNOTES */
  .keynote--speaker{
    flex-direction: column;
  }

  .keynote--image, .keynote--text{
    margin: auto;
  }


  /* ACCOMODATION */
  .accomodation--box{
    flex-direction: column;
  }

  .hotel--box{
    margin-bottom: 5rem;
  }


  /* CONTACT */
  .form--image{
    margin-top: 2rem;
  }

  .contact--icon{
    flex-direction: column;
  }

  .icon--box{
    padding: 1rem;
  }




/*mega menu*/
header{padding:20px;}

header label{
  display:initial;
}
  
/*SIGHTSEEING PAGE*/
.sightseeing--box{
  flex-direction: column;
  margin: 0;
  /* gap: 0; */
  height: auto;
  padding: 1rem;
}

.sightseeing--card{
  margin-top: 1rem;
}

.sightseeing--images{
  max-width: 100%;
 }



/* VENUE */
.venue--image{
  max-width: 100%;
  height: 15rem;
}

.divider{
  margin: auto;
}

  /* #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn span,
  .menu__btn span::before,
  .menu__btn span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn  span::before {
    content: '';
    top: -8px;
  }
  .menu__btn  span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: rgb(138, 138, 138);
    
  }
   */
  






}