.logo{
    height:3.5rem;
    margin-left: 3rem;
}

.search{
    flex: 0 0 30%;
    display: flex;
    justify-content:center;
    align-items:center;
}

.search__input{
    font-family: inherit;
    font-size: inherit;
    color:inherit;
    background-color: rgb(238, 238, 238);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10px;
    width:60%;
    transition: all .4s;
    margin-right: -3rem;
}

.search__input:focus{
    width:70%;
    outline: 1px solid var( --colour-primary);
}

.search__button{
    border:none;
    cursor:pointer;
    color:var(--colour-grey-dark-3);
       
}

.search__button:active{
    transform: translateY(2px);
}



.nav{

    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5rem;
}

.nav__list{
    list-style: none;
}

.nav__list--item{
    display: inline-block;
    padding-right: 10px;
}

.nav__list--item--link{
    color: #fff;
    font-size:medium;
    text-decoration: none;


}

.nav__link--active{
    color: black;
}

.nav--profile{
  flex: 0 0 10%;
  width:20%;
}

.nav--profile--link{
text-decoration: none;
color: white;
font-size: medium;
background-color: var(--colour-primary-dark);
border-radius: 5px;
padding: 6px;
}


.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #00abbc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: medium;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .banner {
    background-color: #333;
    color:white;
    font-size: small;
    max-width: 100%;
    height: 3rem;	
    overflow: hidden;
   
  }

   .banner--text {
    margin-top: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: scroll-left 30s 0s linear infinite;
   }

   /* Move it (define the animation) */
   @keyframes scroll-left {
    from  {
    transform: translateX(100%); 		
    }
    
    to {
    transform: translateX(-100%); 
    }
   }

   .banner--link{
    color: red;
    font-weight: bold;
    text-decoration: none;
    font-size: small;
  }

.footer{
  margin-top: auto;
}

.footer--logo{
  /* flex: 0 0 10%; */
  height: 3.5rem;
  margin-left: 3rem;

}

.footer--middletext--box{
  flex: 0 0 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.footer--middletext{
  border:1px solid white;
  color: var(--colour-primary-dark);
  background-color: var(--colour-grey-light);
  margin-left: 4.5rem;
}


.newsletter{

  margin-right: 5rem;

  }
  
  .newsletter__input{
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10px;
    width:90%;
    margin-right: -3rem;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .4);
  }
  
  .newsletter__button{
    border:none;
    cursor:pointer;
    color:white;
    background-color: var(--colour-primary-light);
    font-size: medium;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .3);
    border-radius: 2px;
    padding: 3px 10px;
    margin-left: -8px;
  
  }


.copyright__p{
  text-align: center;
  background-color: var( --colour-primary);
  color:white;
}

.info--slide{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info--slides{
  flex: 1;
}


.content--box{
  font-weight: bold;
  font-size: medium;
  text-align: center;
  border: 1px solid  var( --colour-grey-dark);
  background-color: var( --colour-grey-light);
  padding: 3%;
} 

.publicationpartners{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45rem;
}

.publicationpartners--image
{
  flex: 0 0 10%;
  margin-left: 5rem;
}

.publicationpartners--content
{
  flex: 1;
  font-size: x-large;
  font-weight: bolder;
  margin-left: 5rem;
  margin-right: 5rem;
  /* background-color: black; */
}


.specialsession{
  text-align: center;
  background-color: var( --colour-primary);
  color:white;
 
}

.specialsession--link{
  text-decoration: none;
  color:rgb(214, 214, 214);
}



.keynote--image {

  display: flex;
  justify-content: space-between;
  align-items: center;
} 


/*Register page css*/

.register--box{
  width:45rem;
  height:35rem;
  text-align: center;
  margin-top: 3.5rem;
  margin-left: 35rem;
  opacity: 0.85;
  font-size:1.7rem;
}


.register--title{
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  background-color: var(--colour-primary-light);
  color:rgb(255, 255, 255);
}

.register__form{
border:none;
width: 100%;
border-radius: 10px;
cursor: pointer;
box-sizing: border-box;
background: #fff;
color: rgb(68, 68, 68);
font: inherit;
box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
border: 0;
outline: 0;
}


.fullname{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: green; */
  padding-top: 4rem;
}

.register__form--fname--label{
  /* padding-top: 1rem;
  padding-left: 5rem; */
  flex: 0 0 30%;
}

.register__form--fname--input{
  padding-top: 1rem;
  flex: 1;
  margin-left: 1rem;
  padding-right: 1rem;
}

.email{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.register__form--email--label{
  /* padding-top: 1rem;
  padding-left: 5rem; */
  flex: 0 0 30%;
}

.register__form--email--input{
  padding-top: 1rem;
  flex: 1;
  margin-left: 1rem;
  padding-right: 1rem;
}


.occupation{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.register__form--occupation--label{
  /* padding-top: 1rem;
  padding-left: 5rem; */
  flex: 0 0 30%;
}

.register__form--occupation--input{
  padding-top: 1rem;
  flex: 1;
  margin-left: 1rem;
  padding-right: 1rem;
}


.username{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.register__form--username--label{
  /* padding-top: 1rem;
  padding-left: 5rem; */
  flex: 0 0 30%;
}

.register__form--username--input{
  padding-top: 1rem;
  flex: 1;
  margin-left: 1rem;
  padding-right: 1rem;
}


.password{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.register__form--password--label{
  /* padding-top: 1rem;
  padding-left: 5rem; */
  flex: 0 0 30%;
}

.register__form--password--input{
  padding-top: 1rem;
  flex: 1;
  margin-left: 1rem;
  padding-right: 1rem;
}


.register__form--submit{
  background-color: var( --colour-primary-light);
  color: white;
  margin: 8px 0;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  padding:8px;
  font-size: medium;

}

.register__form--submit:hover{
  opacity: 0.6;
}

.register__form--cancel{
  background-color: var( --colour-grey-dark);
  color: white;
  margin: 8px 0;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  padding:7px;
  text-decoration: none;
  color:white;
}


.register__form--cancel:hover{
  opacity: 0.6;
}




/*Login page css*/

.header--login{
  background-color: var(--colour-primary-light);
  text-align: center;
}

.login--title{
  color: white;
  font-size: xx-large;
}

.background--image{
  background-image: url("/images/login.jpg");
  max-width: 100%;
  height: 100%;  
}

.content--login{
  height: 45rem;
  padding-top: 3.5rem;
  padding-left: 35rem;
}

.login--box{
  text-align: center;
  background-color: white;
  border-radius: 10px;
  width: 45rem;
  height: 35rem;
  padding-top: 3.5rem;
  cursor: pointer;
  opacity: 0.8;
}

.login__form{
  font-size: 1.7rem;
}

.login__form--uname{
  font-family: inherit;
  font-size: inherit;
  color:inherit;
}

.login__form--psw{ 
  font-family: inherit;
  font-size: inherit;
  color:inherit;
}

.login__form--submit{
  background-color: var( --colour-primary-light);
  color: white;
  margin: 8px 0;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  padding:8px;
  font-size: medium;

}

.login__form--submit:hover{
  opacity: 0.6;
}

.login__form--cancel{
  background-color: var( --colour-grey-dark);
  color: white;
  margin: 8px 0;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  padding:7px;
  text-decoration: none;
  color:white;
}


.login__form--cancel:hover{
  opacity: 0.6;
}

/* .login--box{
  width:45rem;
  height:35rem;
  text-align: center;
  margin-top: 3.5rem;
  margin-left: 35rem; 
  opacity: 0.85;
  font-size:1.7rem;
} */


  
/*Keynotes page css*/
.plenary{
  height:20rem;
   
}



@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}






.keynote--title{
  font-family: 'Courgette', cursive;
	 background-color: #000;
	 background-image: radial-gradient(circle, #012, #000 15em);
	 color: #fff;
	 min-height: 25vh;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 perspective: 75em;
	 perspective-origin: 50% calc(50% - 5em);
	 transform-style: preserve-3d;
}




 .platform {
	 position: relative;
	 transform-style: preserve-3d;
	 animation: platform 8s infinite ease-in-out;
}
 @keyframes platform {
	 0%, 100% {
		 transform: translateY(-0.5em);
	}
	 50% {
		 transform: translateY(0.5em);
	}
}
 .plate {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 border-radius: 50%;
	 transform-style: preserve-3d;
}
 .plate:nth-child(1) {
	 width: 16em;
	 height: 16em;
	 background-image: radial-gradient(#444, #111);
	 transform: translate(-50%, -50%) rotateX(90deg) translateZ(2em);
}
 .plate:nth-child(2) {
	 width: 14em;
	 height: 14em;
	 background-image: radial-gradient(#000, #222);
	 transform: translate(-50%, -50%) rotateX(90deg) translateZ(-2em);
}
 .plate::before {
	 content: '';
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 100%;
	 height: 0.5em;
	 background-image: linear-gradient(90deg, #222, #333, #111, #222);
	 transform: translateX(-50%) rotateX(-90deg) translateZ(0.5em);
	 transform-origin: top;
}
 .plate::after {
	 content: '';
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 100%;
	 height: 100%;
	 background-image: linear-gradient(90deg, #222, #333, #111, #222);
	 border-radius: 50%;
	 transform: translate(-50%, -50%) translateZ(-0.5em);
}
 .panel {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 3em;
	 height: 3em;
	 clip-path: polygon(0 0, 100% 0, 93.25% 100%, 6.75% 100%);
	 background-color: #000 5;
	 overflow: hidden;
	 animation: panalRotate 60s infinite linear;
}
 @keyframes panalRotate {
	 0%, 100% {
		 opacity: 1;
	}
	 50% {
		 opacity: 0;
	}
	 from {
		 transform: translate(-50%, calc(-50% + 0.25em)) rotateY(0) translateZ(7em) rotateX(-15deg);
	}
	 to {
		 transform: translate(-50%, calc(-50% + 0.25em)) rotateY(360deg) translateZ(7em) rotateX(-15deg);
	}
}
 .panel:nth-child(1) {
	 animation-delay: 0s;
}
 .panel:nth-child(1)::after {
	 animation-delay: 0s;
}
 .panel:nth-child(2) {
	 animation-delay: -3.75s;
}
 .panel:nth-child(2)::after {
	 animation-delay: -1.25s;
}
 .panel:nth-child(3) {
	 animation-delay: -7.5s;
}
 .panel:nth-child(3)::after {
	 animation-delay: -2.5s;
}
 .panel:nth-child(4) {
	 animation-delay: -11.25s;
}
 .panel:nth-child(4)::after {
	 animation-delay: -3.75s;
}
 .panel:nth-child(5) {
	 animation-delay: -15s;
}
 .panel:nth-child(5)::after {
	 animation-delay: -5s;
}
 .panel:nth-child(6) {
	 animation-delay: -18.75s;
}
 .panel:nth-child(6)::after {
	 animation-delay: -6.25s;
}
 .panel:nth-child(7) {
	 animation-delay: -22.5s;
}
 .panel:nth-child(7)::after {
	 animation-delay: -7.5s;
}
 .panel:nth-child(8) {
	 animation-delay: -26.25s;
}
 .panel:nth-child(8)::after {
	 animation-delay: -8.75s;
}
 .panel:nth-child(9) {
	 animation-delay: -30s;
}
 .panel:nth-child(9)::after {
	 animation-delay: -10s;
}
 .panel:nth-child(10) {
	 animation-delay: -33.75s;
}
 .panel:nth-child(10)::after {
	 animation-delay: -11.25s;
}
 .panel:nth-child(11) {
	 animation-delay: -37.5s;
}
 .panel:nth-child(11)::after {
	 animation-delay: -12.5s;
}
 .panel:nth-child(12) {
	 animation-delay: -41.25s;
}
 .panel:nth-child(12)::after {
	 animation-delay: -13.75s;
}
 .panel:nth-child(13) {
	 animation-delay: -45s;
}
 .panel:nth-child(13)::after {
	 animation-delay: -15s;
}
 .panel:nth-child(14) {
	 animation-delay: -48.75s;
}
 .panel:nth-child(14)::after {
	 animation-delay: -16.25s;
}
 .panel:nth-child(15) {
	 animation-delay: -52.5s;
}
 .panel:nth-child(15)::after {
	 animation-delay: -17.5s;
}
 .panel:nth-child(16) {
	 animation-delay: -56.25s;
}
 .panel:nth-child(16)::after {
	 animation-delay: -18.75s;
}
 .panel::after {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 content: "Building Hyper-Connected Networks,theFuture";
	 font-weight: 600;
	 font-size: 2em;
	 white-space: nowrap;
	 color: #000 9;
	 text-shadow: 0 0 5px #0af, 0 0 15px #0af, 0 0 30px #0af;
	 animation: textMove 20s infinite linear;
}
 @keyframes textMove {
	 from {
		 transform: translate(2rem, -50%);
	}
	 to {
		 transform: translate(-42.64rem, -50%);
	}
}
 

/*content for plenary keynote speaker*/

.content--keynote h2{
  background: -webkit-linear-gradient(var(--colour-primary-dark), var( --colour-primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: xx-large;
  animation-name: mymove;
  animation-duration: 5s;
  text-align: center;

}

.content--keynote img{
 
    /* transition: transform .7s ease-in-out; */
        width: 200px;
        height: 200px;
        border-radius: 30%;
        background-color: red;
        animation: animate 3s linear infinite;
        perspective: 900px;


}

@keyframes animate {
  0%{
     transform: rotateY(0deg);
  }
  100%{
      transform: rotateY(360deg);
  }
}

.keynote--speaker{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.keynote--image{
  flex: 0 0 15%;
  margin-left: 5rem;
}

.keynote--text{
  flex: 1;
  margin-left: 10rem;
  border: 1px solid black;
  padding: 3rem;
}


#more {display: none;}