.container{
    width:100%;
    background-color: var( --colour-grey-light-1);
    margin: auto;
    height: 50rem;
}
.header{
    height:7rem;
    background-color:  var(--colour-primary);
    border-bottom: 1px solid var( --colour-grey-light-1);
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.content{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* height: 160rem; */
    margin: auto;
}



.footer{
    background-color: var(--colour-footer);
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    text-align: center;
}


/* LOGIN PAGE */

.header--login{
    background-color: var(--colour-primary-light);
    text-align: center;
}

.content--login{
    height: 50rem;
    /* padding-top: 3.5rem; */
    padding: 5rem;
  }



/* REGISTER PAGE */

.header--register{
    background-color: var(--colour-primary-light);
    text-align: center;
}


/* REGISTRATION */
.content--registration{
    height: 50rem;
}



/* Responsiveness */
@media(max-width: 1000px){
    .header--login, .header--register{
        margin: auto;
    }

    .footer{
        flex-direction: column;
        padding: auto;
    }

}